.timeline-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
  width: 50vw;
}

.timeline {
  overflow-y: auto;
  display: flex;
  scrollbar-width: thin;
  width: 100%;
}

.no-events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  font-size: 1.5rem;
  color: #777;
  text-align: center;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.timeline-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.timeline-options {
  width: 20vw;
}

.vertical-timeline-line {
  height: max-content;
}

.event-card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.event-title {
  font-weight: bold;
  font-size: 1.2rem;
}
