.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.registration-label {
  margin-top: 1em;
}
